@font-face {
  font-family: 'Chick-inn';
  src: url('Chick-inn.eot?#iefix') format('embedded-opentype'), url('Chick-inn.woff') format('woff'),
    url('Chick-inn.ttf') format('truetype'), url('Chick-inn.svg#Chick.inn') format('svg');
  font-weight: normal;
  font-style: normal;
}
