
@font-face {
  font-family: 'SFUIDisplay-Black';
  src: url('SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),  url('SFUIDisplay-Black.otf')  format('opentype'),
	     url('SFUIDisplay-Black.woff') format('woff'), url('SFUIDisplay-Black.ttf')  format('truetype'), url('SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
